*{
  box-sizing: border-box;
}
header, footer {
  height: 15%;
  clear: both;
  padding: 3%;
  text-align: center;
  border: 2px #B784A7 solid;
  background-color: #AFD9EC;
}
html{height: 100%;}
body{height: 100%;}
.infoContent{
  display: block;
}
.statsContent{
  display: none;
  overflow: auto;
}
header{font-size: 2em;}
#leftSection, #middleSection {
  float: left;
  height: 70%;
  border: 2px solid darkcyan;
  background-color: #AFD9EC;
}
#middleSection{
  width: 75%;
  padding: 0.75%;
}
#leftSection{
  width:25%;
}
legend{
  font-size: 1.2em;
  color: #09384e;
  font-weight: bold;
}
.progress{
  margin-right: 3px;
}
.progressSec{
  margin-right: 25px;
}
.progressMin{
  margin-right: 21px;
}

.progressIn{
width: 50px;
color: #C0C0C0;
}
label {
  width: 40%;
  margin: 2px;
}
p{font-size: 1.5em;font-weight: bold; margin-left: 4px;}
.greenButton  {
  background-color: #4CAF50;
  border: none;
  color:  white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display:  inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.disableButton{
  background-color: #e7e7e7;
  border: none;
  color:  black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display:  inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.blueButton {
  background-color: #008CBA;
  border: none;
  color:  white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display:  inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.redButton{
  background-color: #f44336;
  border: none;
  color:  white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display:  inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#checkBoardId{
  float: left;
  width: 100%;
  height: 100%;
}
table.puzzleBoard{
  position: relative;
  left: 10%;
  width: 80%;
  height: 100%;
  margin: 1px;
  border: 3px solid black;
  padding: 3px
}
td.emptyTile{
  float: left;
  position: relative;
  width: 32%;
  height: 32%;
  font-size: 300%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: #AFD9EC;
  border: 2px solid #404c50;
  margin: 1px;
  padding-top: 5%;
  color: white;
  font-weight: bold;
}
td.filledTile{
  float: left;
  position: relative;
  width: 32%;
  height: 32%;
  font-size: 300%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: #77B3ED;
  border: 2px solid #404c50;
  margin: 1px;
  padding-top: 5%;
  color: white;
  font-weight: bold;
}

.tab{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.2s;
  font-size: 17px;
}
.tab button:hover{background-color: #ddd;}
.tabcontent{
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
