table.tableSats{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table.tableSats td, table.tableSats th{
  border: 1px solid #ddd;
  padding: px;
}
table.tableSats tr:nth-child(even){background-color: #f2f2f2;}
table.tableSats tr:hover{background-color: #ddd;}
table.tableSats th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
